:root {
  font-size: 8px;
  --grey-0: #f5f5f5;
}

body,
header,
h1,
h2,
h3,
ul,
li,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: var(--grey-0);
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  width: 70%;
  justify-content: center;
}

h1 {
  width: 100%;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.menu li {
  margin-right: 20px;
}

nav ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.geral {
  font-weight: normal;
  color: #828282;
}
#atual {
  font-weight: 600;
  color: #333333;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 0 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column-reverse;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  flex-direction: column;
}

.card {
  width: 300px;
  height: 380px;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  margin-right: 35px;
  margin-bottom: 68px;
}

figure {
  background: #f5f5f5;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.imagens {
  width: 191.81px;
  height: 140px;
  background: #f5f5f5;
}

.card div {
  padding: 15px;
}

.span {
  display: flex;
  width: 62px;
  height: 16px;
  margin: 2px 0 15px 0;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #2e245e;
  padding: 5px;
}

.produtoNome {
  display: flex;
  width: 176px;
  height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.produtoNomeLongo {
  display: flex;
  width: 266px;
  height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.descricao {
  display: flex;
  width: 269px;
  height: 33px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  margin: 15px 12px 15px 0;
}

.preco {
  display: flex;
  width: 269px;
  height: 16px;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2e245e;
  margin: 20px 12px 15px 0;
}

.botao {
  display: flex;
  width: 174px;
  height: 16px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  text-decoration-line: underline;
  border: none;
  background: none;
  cursor: pointer;
}

.card:hover {
  border-color: #2e245e;
}

.botao:hover {
  color: #6b54de;
}

.lateral {
  padding: 5px;
  width: 300px;
}
.input {
  width: 70%;
  height: 50px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
}

.input::placeholder {
  width: 163px;
  height: 16px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  padding: 17px 69px 17px 14px;
}

.pesquisar {
  width: 29%;
  height: 50px;
  background: #6b54de;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.carrinhoCompras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #6b54de;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
}

.carrinho {
  width: 100%;
  height: 344px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carrinhoVazio {
  width: 157px;
  height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
}

.fraseCarrinho {
  width: 98px;
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    padding-left: 30px;
  }
  .cards {
    flex-direction: row;
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    width: 700px;
  }
  header {
    flex-direction: row;
  }
}

@media screen and (min-width: 1220px) {
  .cards {
    width: 1100px;
  }
}

@media screen and (min-width: 1680px) {
  .cards {
    width: 1400px;
  }
}
